@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Colours
$primary: #1d8884;
$secondary: #121c25;

// Breakpoints
$tablet: 724px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);
